/* .list {
  padding-left: 10px !important;
} */
html, body, #root, .App {
  height: 100%;
}

h1 {
  background-color: #2B1A17;
  color: #CECECE;
  margin: 0;
  padding: 15px;
}

.treeContainer {
  width: 30%;
  height: 100%;
  padding-left: 10px;
  background-color: #CECECE;
  color: #2B1A17;
  margin: 0;
}

.tree li, li .tree {
  list-style-type: none;
  width: auto;
}

.dropdown-menu {
  display: grid;
  background-color: #2B1A17;
  color: #CECECE;
  border-radius: 5px;
}

.dropdown-menu a {
  padding: 2px 10px;
  color: #CECECE;
  text-decoration: none;
}

.dropdown-edit-button {
  background-color: transparent;
  border: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-options a {
  color: #CECECE;
  text-decoration: none;
}